#map {
    height: 450px;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: rgba(0, 0, 0, 0.1);
}

.cities {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    padding: 20px;
    font-family: 'Ubuntu';
    width: 1855px;
}

.cities .caption {
    display: flex;
}

.cities .body {
    display: flex;
    flex-wrap: wrap;
}

.link-marker {
    padding: 10px;
    border: 1px solid black;
    transition: .5s;
    background-color: rgba(0, 0, 0, 0.1);
    text-decoration: none;
    color: #000;
    user-select: none;width: 220px;
    padding: 20px;
    margin: 20px;
}

.link-marker:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

span.city {
    font-size: 20px;
    font-weight: 100;
    margin: 0;
    padding: 0;
    position: relative;
    z-index: -1;
    
}

span.street {
    position: relative;
    z-index: -1;
}